<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/avlbl.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>AvailableDogs</title>
</head>
<body>
<div class="bg-i">
    <div class="container">
        <div class="topnav">
            <a th:href="@{'/home'}"> <i class="fa fa-home"></i> Home  </a>
            <a href="/about"> <i class="fas fa-heart"></i> About Dog Adoption  </a>
            <a href="/contact"> <i class='fas fa-paw'></i>  Contact  </a>
            <a href="/dogs"> <i class="fas fa-dog"></i>  AvailableDogs  </a>
            <div class="topnav" sec:authorize="!isAuthenticated()">
                <a th:href="@{'/login'}"><i class="fas fa-user-alt"></i> Login</a>
            </div>
            <div class="topnav" sec:authorize="isAuthenticated()">
                <form method="post" action="/logout">
                    <button type="submit" class="nav-btn">
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="dogname">
        <table>
            <tr th:each="dog: ${dogs}">
                <td>
                    <p th:text="${dog.getName()}"></p>
                    <img th:src="'/images/dogs/' + ${dog.getImageUrl()}"></img>
                    <a class="a a2" th:href="@{'/description/' + ${dog.getDogId()}}">Description</a>
                    <a class="a a2" th:href="@{'/adoption/' + ${dog.getDogId()}}">Adopt</a>
                    <hr class="rounded">
                </td>

            </tr>
        </table>
    </div>

</div>
</body>
</html>